* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border-radius: 8px;
    
}

button:hover {
    background-color:#5d95f0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header section */

.header, .hero-block, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.header a {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    color: #EE7F76;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

/* hero section  */

.hero-block {
    display: flex;
    justify-content: center;
    min-height: 150px;
    padding: 50px 10%;
    gap: 50px;
}

.hero-block h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-block p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    gap: 15px;
}

.hero-left button {
    padding: 8px 25px;
    border: none;
    align-self: flex-start;
}

.hero-right {
    display: flex;
    flex: 1;
}

.hero-image {
    width: 200px;
    align-self:flex-start;
    flex: 1;
}

/* info section */

.info-block { 
    display: flex;
    flex-direction: column;
    min-height: 150px;
    margin: 35px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.info-image {
    height: 100px;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 175px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

/* quote section */

.quote-block {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px;
    min-height: 150px;
}

.quote-card {
    max-width: 60%;
    flex: 1;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-signature {
    font-weight: bold;
    text-align: right;
}

/* call to action section */

.action-block {
    display: flex;
    padding: 50px 10%;
    min-height: 150px;
    align-items: center;   
}

.action-card {
    flex: 1;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.action-card button {
    border: #f9faf8 1px solid;
    padding: 8px 25px;
}

.action-card p {
    margin-top: 3px;
    font-weight: 300;
    font-size: 0.75em;
}

/* footer section  */

.footer {
    display: flex;
    height: 50px;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
}